    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

    :root{
        --header-height: 80px;
    }

/*--------------------------------------------------*/

    *{
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
    }

    ul{
        list-style: none;
    }

    a{
        text-decoration: unset;
        color: unset;
    }

    a.fake-button{
        display: block;
    }

    a.logo{
        display: block;
    }

    address{
        font-style: unset;
    }

    div.wrapper{
        margin: 0 calc(calc(345 / 1920) * 100vw); /*is 345px when screen-width 1920px, scales proportionally when not*/
    }

/*--------------------------------------------------*/

    header{
        width: 100vw;
        top: 0;
        position: fixed;
        background: #191919;
    }

    header .wrapper{
        height: var(--header-height);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header #infojr-header{
        width: 123px;
        height: 50px;
        font-size: 0;
        background-image: url(images/logo.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left center;
    }

    header #menu-toggle{
        display: none;
    }

    header #menu-icon{
        width: 16px;
        height: 15px;
        display: none;
    }

    header nav ul{
        display: flex;
        align-items: center;
    }

    header nav li{
        padding: 0 calc(calc(15 / 1920) * 100vw);  /*is 15px when screen-width 1920px, scales proportionally when not*/
        color: #FFFFFF80;
    }

    header nav li .active{
        font-weight: 700;
        color: #7CB124;
    }

    header .fake-button{
        padding: 11px 24px;
        border-radius: 8px;
        background-color: #7CB124;
        font-size: 0.875rem;
        font-weight: 600;
        color: white;
    }

    div#header-slot{
        height: var(--header-height);
    }

/*--------------------------------------------------*/

    footer #social-media{
        background: #252822;
    }

    footer #social-media .wrapper{
        height: 240px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    footer #infojr-footer{
        width: 220px;
        height: 90px;
        font-size: 0;
        background-image: url(images/logo.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left center;
    }

    footer #social-media ul{
        display: flex;
        gap: calc(calc(25 / 1920) * 100vw);  /*is 25px when screen-width 1920px, scales proportionally when not*/
    }

    footer #social-media ul a{
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background: #7CB124;
        font-size: 0;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-size: 32px 32px;
    }

    footer #social-media #linkedin{
        background-image: url(images/socials/linkedin-in-brands.svg);
    }

    footer #social-media #behance{
        background-image: url(images/socials/behance-brands.svg);
    }

    footer #social-media #dribbble{
        background-image: url(images/socials/dribbble-brands.svg);
    }

    footer #social-media #instagram{
        background-image: url(images/socials/instagram-brands.svg);
    }

    footer #social-media #facebook{
        background-image: url(images/socials/facebook-f-brands.svg);
    }

    footer #social-media #youtube{
        background-image: url(images/socials/youtube-brands.svg);
    }

    footer #social-media #spotify{
        background-image: url(images/socials/spotify-brands.svg);
    }

    footer address{
        background: #191919;
        color: white;
        padding: 30px 0;
    }

    footer address p{
        width: fit-content;
        margin: 0 auto;
        line-height: 32px;
    }

/*--------------------------------------------------*/

@media (max-width: 1024px){

    footer #infojr-footer{
        width: 138px;
        height: 57px;
    }
    
    footer #social-media .wrapper{
        height: unset;
        flex-direction: column;
        gap: 32px;
        padding: 54px 0;
    }

    footer #social-media ul{
        gap: calc(500px / 33);
    }

    footer #social-media ul a{
        width: calc(300px / 11);
        height: calc(300px / 11);
        background-size: calc(640px / 33) calc(640px / 33);
    }

}

/*--------------------------------------------------*/

@media (max-width: 768px){

    :root{
        --header-height: 68px;
    }

    header #infojr-header{
        width: 61px;
        height: 25px;
    }

    header #nav-container{
        display: none;
        position: fixed;
        top: var(--header-height);
        left: 0;
        height: 100vh;
        width: 100vw;
        background: #1A1C1799;
    }

    header #nav-list{
        background: #252822;
        width: 283px;
        height: 300px;
        margin: 0 auto;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }

    header #menu-icon{
        display: unset;
        background-image: url(images/open-menu.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right center;
    }

    header #menu-toggle:checked ~ #menu-icon{
        background-image: url(images/close-menu.svg);
    }

    header #menu-toggle:checked ~ #nav-container{
        display: unset;
    }

}